<header>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a href="/" class="navbar-brand"> Marke </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse col-10" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              routerLink=""
              class="nav-link px-4 text-secondary"
              routerLinkActive="active"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/seite" class="nav-link px-4 text-secondary"
              >Seite</a
            >
          </li>

          <li class="nav-item nav-link dropdown show">
            <a
              class="nav-item text-secondary dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Categories
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="categories/category1"
                >Category 1</a
              >
              <a class="dropdown-item" href="/category2">Category 2</a>
              <a class="dropdown-item" routerLink="/category3">Category 3</a>
            </div>
          </li>

          <li class="nav-item nav-link dropdown">
            <a
              class="nav-item text-secondary dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/seite">Seite</a>

              <a class="dropdown-item" href="#">Another action</a>
              <hr class="dropdown-divider" />
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <ul>
          <div class="text-end">
            <ng-container *ngIf="logvalidService.isLogin == false">
              <li class="nav-item">
                <button type="button" class="btn btn-outline-primary me-2">
                  <a routerLink="/login">Login</a>
                </button>
              </li>
            </ng-container>
            <ng-container *ngIf="logvalidService.isLogin == true">
              <li class="nav-item">
                <button type="button" class="btn me-2">
                  <a
                    class="btn btn-primary dropdown-toggle"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    {{ username }}
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" routerLink="/user">User Info</a>
                    <li><hr class="dropdown-divider" /></li>
                    <a class="dropdown-item" href="#">Logout</a>
                  </div>
                </button>
              </li>
            </ng-container>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
